<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center"> <p style="color:white;"></p>Asistencia </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
<ion-footer>
  <ion-button expand="block" [routerLink]= "['/inicio']" >
    VOLVER
  </ion-button>
  <ion-footer>
  
    <ion-list-header>
      <ion-button >
        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
      </ion-button>  
      <ion-button >
        <ion-icon name="alert-circle-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-list-header>
  </ion-footer>
</ion-footer>  