<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center"> <p style="color:white;">Recuperar contraseña</p></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p></p>

</ion-content>
<ion-footer>
  <ion-button expand="block" color="danger" [routerLink]= "['/login']" >
    CANCELAR 
  </ion-button>
  <ion-list-header>
    <ion-button >
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
    </ion-button>  
    <ion-button >
      <ion-icon name="alert-circle-outline"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-list-header>
</ion-footer>